.container {
  width: 90vw;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 0px 24px 24px;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}

.wheatherInformation {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 28px;
}

.footer {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  margin-top: 50px;
  width: 90vw;
}
