.citiesSelectContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.citiesSelectInput {
  margin-bottom: 8px;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  padding: 8px 16px;
  border: 2px solid #000;
  border-radius: 4px;
}